@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
body{
  text-align: center;
  background-image: url(../Image/—Pngtree—aesthetic\ brown\ golden\ marble\ background_1412965.png);
}
#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #board {
    background-image: url(../Image/plateau.png);
    background-position: center;
    background-size: cover;
    display: grid;
    padding: 9px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 3px;
    width: 550px;
    height: 550px;
    border: 1px solid black;
    margin-bottom: 5px;
  }
  
  .square {
    font-size: 50px;
    text-align: center;
    line-height: 90px;
    cursor: pointer;
  }
  
  .square:hover {
    background-color: #dddddd44;
  }
  
  #status {
    font-weight: bold;
    background-color: rgba(171, 122, 228, 0.514);
    padding: 3px 10px;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  #reset-button, #reset-game {
    font-size: 20px;
    padding: 5px;
    background-color: #9e503100;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #reset-button:hover, #reset-game:hover {
    background-color: #0000002c;
    
  }
  
  #score-container {
    margin-top: 0px;
  }
  
  table {
    background-color: rgba(155, 155, 155, 0.801);
    border-collapse: collapse;
    width: 200px;
    margin: 0 auto;
  }
  
  th,
  td {
 
    border: 1px solid black;
    padding: 3px 10px;
    text-align: center;
  }
  #x-score,#o-score{
    font-family: Wallpoet, Arial, Helvetica, sans-serif;
    font-size: larger;
  }

  @media (max-width: 650px) {
    #board {
      width: 60vw;
      height: 60vw;
    }
  }